<!DOCTYPE html>
<html>
<head>
  <title>Doglog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class='clearfix'>
  <div class="left-nav">
    <ul>
      <li><%= link_to "Home", dogs_path %></li>
    </ul>
  </div>
  <div class="right-nav">
    <ul>
      <li><%= link_to "Add Dog", new_dog_path %></li>
    </ul>
  </div>
</header>

<div class='content'>
  <%= yield %>
</div>

</body>
</html>
